aniso8601==8.0.0
attrs==19.3.0
Click==7.0
Flask==2.3.2
flask-restx==0.5.1
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
MarkupSafe==1.1.1
pyrsistent==0.15.7
pytz==2019.3
six==1.14.0
Werkzeug==3.0.1
